.rating {
  display: flex;
  width: 144px;
  justify-content: space-between;
  align-items: center;
}

.star {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
  }

  & input {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;

    &.selected + label:after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: $blue-light;
    }
  }

  &__part {
    display: block;
    cursor: pointer;
    position: relative;

    &_left {
      width: 16px;
      height: 30px;
      background-color: $grey-lighter;
    }

    &_right {
      width: 14px;
      height: 30px;
      background-color: #f1f1f1;
    }
  }
}
