.modals
  .modals__city.city-modal
    .city-modal__overlay
      .city-modal__item
        .city-modal__title
          span Правильно определили Ваш город?
        .city-modal__wrap
          .city-modal__btn
            button.card__order-btn
              span да
          .city-modal__link
            a(href=".cities-modal__overlay").location__value Другой город

  .modals__cities.cities-modal
    .cities-modal__overlay
      .cities-modal__item
        .cities-modal__title
          span Выберите Ваш город:
        .cities-modal__wrap
          .cities-modal__link
            a(href='#') Москва
          .cities-modal__link
            a(href='#') Челябинск
          .cities-modal__link
            a(href='#') Санкт-Петербург
          .cities-modal__link
            a(href='#') Сыктывкар
          .cities-modal__link
            a(href='#') Екатеринбург
          .cities-modal__link
            a(href='#') Сыктывкар
          .cities-modal__link
            a(href='#') Москва
          .cities-modal__link
            a(href='#') Челябинск
          .cities-modal__link
            a(href='#') Санкт-Петербург
          .cities-modal__link
            a(href='#') Сыктывкар

  .modals__request.request-modal
    .request-modal__close
      span Закрыть
    .request-modal__wrap
      .request-modal__title
        span Отправить заявку
      form.request-modal__form
        fieldset.request-modal__fieldset
          legend.request-modal__legend Ваше имя
          input(type="text" id="name" name="name").request-modal__input
        fieldset.request-modal__fieldset
          legend.request-modal__legend!= 'Ваш номер телефона <span>*</span>'
          input(type="tel" id="tel" name="tel").request-modal__input
        fieldset.request-modal__fieldset
          legend.request-modal__legend!= 'Название компании <span>*</span>'
          input(type="text" id="company" name="company").request-modal__input
        button.request-modal__btn.btn(type="submit" data-success='.success-modal')
          span Отправить
  .modals__success.success-modal
    .success-modal__wrap
      .success-modal__close
        span Закрыть
      .success-modal__text
        span Спасибо за заявку, в ближайшее время с вами свяжутся наши менеджеры.
  .modal__review-page.review-page
    .review-page__wrap
      .review-page__close
        span Закрыть
      .review-page__wrapper
        .review-page__header
          .review-page__user-ava
            img(src='./img/ava.png' alt='Аватар' title='Аватар').review-page__user-img
          .review-page__inner
            .review-page__name
              span Василиса
              span Новгородская
            .review-page__date
              span 01.07.2019
        .review-page__rating
          .card__rating-title
            span Оценка
          .card__rating-value.text-success
            span 7.5
        .review-page__text
          p.
            По сравнению с другими видами топлива газ является самым доступным
            по цене, автономная газификация несет экономическую выгоду. Одним из
            многочисленных преимуществ ее является автоматизированная работа
            системы отопления
          p.
            По сравнению с другими видами топлива газ является самым доступным
            по цене, автономная газификация несет экономическую выгоду. Одним из
            многочисленных преимуществ ее является автоматизированная работа
            системы отопления
