extends ../pug/layout

block meta
  title Статья
  meta(name='description', content='')

block content
  section.article-page
    .article-page__wrap.container
      +breadcrumbs('article-page__breadcrumbs', 'Главная', 'Статья')
    .article-page__header
      .article-page__title
        h1 Безопасность при проектировании газопроводов
      .article-page__date
        span 29 августа 2019, 16:05
      .article-page__text
        p.
          Сегодня автономное газовое отопление является одним из самых
          выгодных способов для обеспечения объектов теплом и горячим
          водоснабжением в местах, где нет центрального газоснабжения.
    .article-page__main-text.container-thin
      .article-page__main-text-title
        h2 Услуги по монтажу автономных
      .article-page__main-text-item
        p.
          По сравнению с другими видами топлива газ является самым
          доступным по цене, автономная газификация несет экономическую выгоду.
          Одним из многочисленных преимуществ ее является автоматизированная
          работа системы отопления и возможность осуществлять контроль над
          количеством и состоянием газа в емкостях.
        p.
          «Газовая перспектива» предоставляет услуги по монтажу автономных
          систем газоснабжения с использованием подземных емкостей для хранения
          газа. При газификации объектов различного назначения мы устанавливаем
          высококачественные сертифицированные газгольдеры, которые на практике
          многократно доказали свои отличные технические и эксплуатационные
          характеристики.

    //.article-page__table-block
    //  table.article-page__table.table
    //    tr.table__row-header
    //      th.table__cell-header Column One
    //      th.table__cell-header Column Two
    //      th.table__cell-header Column Three
    //      th.table__cell-header Column Four
    //      th.table__cell-header Column Five
    //      th.table__cell-header Column Six
    //      th.table__cell-header Column 7ven
    //    tr.table__row-body
    //      td.table__cell-body!= '147m<sub>2</sub>'
    //      td.table__cell-body!= '12.3m<sub>2</sub>'
    //      td.table__cell-body 52
    //      td.table__cell-body 3
    //      td.table__cell-body!= '147m<sub>2</sub>'
    //      td.table__cell-body!= '12.3m<sub>2</sub>'
    //      td.table__cell-body 45 500 $

    .article-page__slider-block
      .article-page__inner
        .article-page__slider-block-title
          h2 Услуги по монтажу автономных
        .article-page__slider-block-text
          p.
            По сравнению с другими видами топлива газ является самым
            доступным по цене, автономная газификация несет экономическую выгоду.
            Одним из многочисленных преимуществ ее является автоматизированная
            работа системы отопления и возможность осуществлять контроль над
            количеством и состоянием газа в емкостях.
          p.
            «Газовая перспектива» предоставляет услуги по монтажу автономных
            систем газоснабжения с использованием подземных емкостей для хранения
            газа. При газификации объектов различного назначения мы устанавливаем
            высококачественные сертифицированные газгольдеры, которые на практике
            многократно доказали свои отличные технические и эксплуатационные
            характеристики.
      .article-page__slider-block-item
        .article-page__slider-block-wrap
          .article-page__slider.owl-carousel
            .article-page__slider-item
              img(src='./img/slide.jpg')
            .article-page__slider-item
              img(src='./img/slide.jpg')
            .article-page__slider-item
              img(src='./img/slide.jpg')
            .article-page__slider-item
              img(src='./img/slide.jpg')
          .article-page__slider-counter
            span.counter 1 / 1

    .article-page__main-text.container-thin
      .article-page__main-text-title
        h2 Услуги по монтажу автономных
      .article-page__main-text-item
        p.
          По сравнению с другими видами топлива газ является самым
          доступным по цене, автономная газификация несет экономическую выгоду.
          Одним из многочисленных преимуществ ее является автоматизированная
          работа системы отопления и возможность осуществлять контроль над
          количеством и состоянием газа в емкостях.
        p.
          «Газовая перспектива» предоставляет услуги по монтажу автономных
          систем газоснабжения с использованием подземных емкостей для хранения
          газа. При газификации объектов различного назначения мы устанавливаем
          высококачественные сертифицированные газгольдеры, которые на практике
          многократно доказали свои отличные технические и эксплуатационные
          характеристики.
