.breadcrumbs {

  &__list {
    display: flex;
  }

  &__item {
    font-size: 10px;

    @media (min-width: $screen-sm) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &__item a {
    font-size: 10px;
    color: $grey;

    @media (min-width: $screen-sm) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &__item a:after {
    content: '/';
    margin: 0 3px;
  }
}
