.sort {
  position: relative;
  text-align: center;
  margin-bottom: 12px;

  @media (min-width: $screen-sm) {
    text-align: right;
  }

  @media (min-width: $screen-lg) {
    margin-top: 25px;
    margin-bottom: 50px;
  }

  &__title {
    font-size: 14px;
    color: $grey;
    margin-right: 6px;
  }

  &__value {
    font-size: 14px;
    color: $blue;
    border-bottom: 1px dashed $blue;
    cursor: pointer;
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: fit-content;
    left: 50%;
    top: -30px;
    transform: translate(-50%, 0);
    background-color: transparent;
    z-index: 10;
    display: none;
    opacity: 0;

    @media (min-width: $screen-sm) {
      left: auto;
      right: -130px;
    }
  }

  &__modal {
    width: 260px;
    height: 350px;
    padding: 30px 0 0 50px;
    background: $white;
    border: 1px solid $grey-lighter;

    @media (min-width: $screen-sm) {
      margin: 0;
    }

    @media (min-width: $screen-lg) {
      right: 30px;
    }

    @media (min-width: $screen-xl) {
      right: 50px;
    }

    @media (min-width: $screen-xxl) {
      right: 70px;
    }
  }

  &__inner {
    text-align: left;
    margin-bottom: 15px;
  }

  &__items {
    text-align: left;
  }

  &__item-link {
    display: block;
    line-height: 20px;
    color: $blue;
    margin-bottom: 10px;

    @media (min-width: $screen-sm) {
      font-size: 14px;
    }
  }
}
