extends ../pug/layout

block meta
  title Главная
  meta(name='description', content='')

block content
  .home.pageTop.container
    section.home__inner
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab consectetur, dolorem dolorum expedita fugit iste iure,
        officiis omnis sapiente sequi soluta ut veritatis voluptate
        voluptatem voluptates. Aut nostrum quod voluptatibus!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab consectetur, dolorem dolorum expedita fugit iste iure,
        officiis omnis sapiente sequi soluta ut veritatis voluptate
        voluptatem voluptates. Aut nostrum quod voluptatibus!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab consectetur, dolorem dolorum expedita fugit iste iure,
        officiis omnis sapiente sequi soluta ut veritatis voluptate
        voluptatem voluptates. Aut nostrum quod voluptatibus!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab consectetur, dolorem dolorum expedita fugit iste iure,
        officiis omnis sapiente sequi soluta ut veritatis voluptate
        voluptatem voluptates. Aut nostrum quod voluptatibus!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab consectetur, dolorem dolorum expedita fugit iste iure,
        officiis omnis sapiente sequi soluta ut veritatis voluptate
        voluptatem voluptates. Aut nostrum quod voluptatibus!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab consectetur, dolorem dolorum expedita fugit iste iure,
        officiis omnis sapiente sequi soluta ut veritatis voluptate
        voluptatem voluptates. Aut nostrum quod voluptatibus!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab consectetur, dolorem dolorum expedita fugit iste iure,
        officiis omnis sapiente sequi soluta ut veritatis voluptate
        voluptatem voluptates. Aut nostrum quod voluptatibus!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab consectetur, dolorem dolorum expedita fugit iste iure,
        officiis omnis sapiente sequi soluta ut veritatis voluptate
        voluptatem voluptates. Aut nostrum quod voluptatibus!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab consectetur, dolorem dolorum expedita fugit iste iure,
        officiis omnis sapiente sequi soluta ut veritatis voluptate
        voluptatem voluptates. Aut nostrum quod voluptatibus!

