extends ../pug/layout

block meta
  title Главная
  meta(name='description', content='')

block content
  section.home
    .home__wrap
      .home__statistics.statistics
        .statistics__header
          .statistics__title
            h1 Каталог служб доставки Газа и Дизеля в Москве и Санкт— Петербурге
          .statistics__descr
            p Заправят газом газгольдер и резервуар для дизеля сегодня — завтра
        .statistics__wrap
          .statistics__gaz-block.statistics__gaz-block--active
            .statistics__gaz-block-inner
              .statistics__gaz-value
                span 115
              .statistics__gaz-property
                span Служб доставки газа в Санкт-Петербурге
            .statistics__gaz-img
              img(src='./img/Gaz_car.svg' alt='Доставка газа' title='Доставка газа')
          .statistics__diz-block
            .statistics__diz-block-inner
              .statistics__diz-value
                span 73
              .statistics__diz-property
                span Службы доставки дизеля в Санкт-Петербурге
            .statistics__diz-img
              img(src='./img/Diz_car.svg' alt='Доставка дизеля' title='Доставка дизеля')
  .logistics
    .logistics__advantages.advantages
      button.advantages__gaz-btn.advantages__gaz-btn--active
        span.advantages__gaz-img
        span.advantages__gaz-text Газ
      button.advantages__diz-btn
        span.advantages__diz-img
        span.advantages__diz-text Дизель
    .logistics__delivery.delivery
      .delivery__wrap
        +sort('delivery__sort')
        .delivery__list
          +card('delivery__item', 'card__rating-value--success', 'card__price-status-value--success')
          +card('delivery__item', 'card__rating-value--primary', 'card__price-status-value--warning')
          +card('delivery__item', 'card__rating-value--danger', 'card__price-status-value--success')
          +card('delivery__item', 'card__rating-value--success', 'card__price-status-value--success')
          +card('delivery__item', 'card__rating-value--warning', 'card__price-status-value--danger')
          .delivery__promo
            .delivery__promo-wrap
              .delivery__promo-title
                span Готовься к зиме летом!
              .delivery__promo-text
                span Покупайте газ по выгодной цене в низкий сезон, чтобы потом не переплачивать.
          +card('delivery__item', 'card__rating-value--success', 'card__price-status-value--success')
          +card('delivery__item', 'card__rating-value--primary', 'card__price-status-value--warning')
          +card('delivery__item', 'card__rating-value--danger', 'card__price-status-value--success')
          +card('delivery__item', 'card__rating-value--success', 'card__price-status-value--success')
          +card('delivery__item', 'card__rating-value--warning', 'card__price-status-value--danger')
        .delivery__show-more
          button.delivery__show-more-btn
            span Показать еще

