//- Стандартный шаблон страницы
include mixins

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    block meta
      title Home

    block head

      link(rel='stylesheet', href='css/style.min.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body

    .wrapper

      block header
        include ../blocks/header/header

      main.main
        block content

      block footer
        include ../blocks/footer/footer

      block modals
        include ../blocks/modals/modals

    block page-bottom
      script(src='js/main.min.js')
      script(src="https://maps.googleapis.com/maps/api/js")
