.home {
  padding: 0 10px;
  margin-top: 25px;
  border-bottom: 1px solid $grey-light;

  @media (min-width: $screen-sm) {
    margin-top: 40px;
    padding: 0;
  }

  @media (min-width: $screen-lg) {
    margin: 0;
  }
}
