extends ../pug/layout

block meta
  title Главная
  meta(name='description', content='')

block content
  section.home
    .home__wrap
      .home__statistics.statistics
        .statistics__header
          .statistics__title
            h1!= 'Каталог служб доставки Газа и Дизеля в Москве и <span>Санкт—Петербурге</span>'
          .statistics__descr
            p Заправят газом газгольдер и резервуар для дизеля сегодня — завтра
        .statistics__wrap
          .statistics__gaz-block.statistics__gaz-block--active
            .statistics__gaz-block-inner
              .statistics__gaz-value
                span 115
              .statistics__gaz-property
                span Служб доставки газа в Санкт-Петербурге
            .statistics__gaz-img
              img(src='./img/Gaz_car.svg' alt='Доставка газа' title='Доставка газа')
          .statistics__diz-block
            .statistics__diz-block-inner
              .statistics__diz-value
                span 73
              .statistics__diz-property
                span Службы доставки дизеля в Санкт-Петербурге
            .statistics__diz-img
              img(src='./img/Diz_car.svg' alt='Доставка дизеля' title='Доставка дизеля')
  .logistics
    form.logistics__advantages.advantages
      input(type="radio" id="gas" name="advantage" value="gas" autocomplete="off" checked)
      label(for="gas").advantages__btn
        span.advantages__btn-gas-img
        span Газ
      input(type="radio" id="diz" name="advantage" autocomplete="off" value="diz")
      label(for="diz").advantages__btn
        span.advantages__btn-diz-img
        span Дизель
    .logistics__delivery.delivery
      .delivery__wrap
        +sort('delivery__sort')
        .delivery__list
          +card('delivery__item', 'text-success', 'text-success')
          +card('delivery__item', 'text-primary', 'text-warning')
          +card('delivery__item', 'text-danger', 'text-success')
          +card('delivery__item', 'text-success', 'text-success')
          +card('delivery__item', 'text-warning', 'text-danger')
          .delivery__promo
            .delivery__promo-wrap
              .delivery__promo-title
                span Готовься к зиме летом!
              .delivery__promo-text
                span Покупайте газ по выгодной цене в низкий сезон, чтобы потом не переплачивать.
          +card('delivery__item', 'text-success', 'text-success')
          +card('delivery__item', 'text-primary', 'text-warning')
          +card('delivery__item', 'text-danger', 'text-success')
          +card('delivery__item', 'text-success', 'text-success')
          +card('delivery__item', 'text-warning', 'text-danger')
        .delivery__show-more
          button.delivery__show-more-btn
            span Показать еще

