.footer {

  &__lead-block {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(135deg, #18c3f4 0%, #3c7cbf 100%);
  }

  &__contacts-block {
    display: flex;
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: $blue-light;
  }

  &__copy-block {
    padding: 30px 50px 25px 50px;
  }
}
