footer.footer
  .footer__container
    .footer__wrap
      .footer__lead-block.lead-block
        .lead-block__inner
          .lead-block__text
            span.
              Станьте одним из поставщиков <br>и привлекайте больше клиентов
          .lead-block__wrap
            button.lead-block__btn.btn
              span.btn__text Отправить заявку
      .footer__contacts-block.contacts-block
        .contacts-block__inner
          .contacts-block__text
            span.
              С любыми вопросами обращайтесь к нам
          .contacts-block__item
            .contacts-block__mail
              a.contacts-block__mail-link(href='mailto:info@dizgaz.ru') info@dizgaz.ru
            .contacts-block__tel
              a.contacts-block__tel-link(href='tel:+78006726767') 8 800 672-67-67
    .footer__copy-block.copy-block
      .copy-block__inner.container
        .copy-block__item
          span.copy-block__text © DIZGAZ, все права защищены
        .copy-block__developer
          span.copy-block__descr Разработка сайта
          a.copy-block__link(href='https://cakelabs.ru/' target='_blank')
            img( src='./img/cakelabs.svg' alt='Cakelabs' title='Cacelabs')
