.equipment {
  position: relative;

  &__title {
    margin-bottom: 13px;
  }

  &__title h1 {
    font-family: 'IBM Plex';
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;

    @media (min-width: $screen-sm) {
      font-size: 30px;
    }
  }

  &__text {
    font-size: 10px;
    line-height: 16px;
    color: $grey;
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      font-size: 16px;
      line-height: 32px;
    }
  }

  &__inner {
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      margin-top: 41px;
      margin-bottom: 42px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 62px;
    }
  }

  &__advantages .advantages__btn {
    font-size: 10px;
    padding: 12px;

    @media (min-width: $screen-sm) {
      padding: 15px 20px;
      font-size: 16px;
    }
  }

  &__advantages input:checked + .advantages__btn {

    @media (min-width: $screen-sm) {
      padding: 2px 20px;
    }
  }

  &__list {

    @media (min-width: $screen-sm) {
      padding: 0 20px;
    }

    @media (min-width: $screen-lg) {
      padding: 0;
    }

    .card-page__wrap {

      @media (min-width: $screen-lg) {
        margin-bottom: 10px;
      }
    }
  }

  &__btn {
    margin: 20px 0;

    @media (min-width: $screen-lg) {
      margin: 38px 0 84px;
    }
  }
}
