.request-modal {
  position: fixed;
  height:100%;
  width:100%;
  padding: 30px 10px;
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  background-color: $white;
  z-index: 10;
  display: none;
  opacity: 0;

  @media (min-width: $screen-sm) {
    padding: 60px;
  }

  @media (min-width: $screen-lg) {
    padding: 100px 218px;
  }

  @media (min-width: $screen-xl) {
    padding: 100px 218px;
  }

  &__close {
    font-size: 0;
    text-align: center;
    margin-bottom: 30px;

    @media (min-width: $screen-sm) {
      text-align: right;
    }

    @media (min-width: $screen-lg) {
      cursor: pointer;
      margin-bottom: 65px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 85px;
    }
  }

  &__close span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./../img/close.svg');
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: $screen-sm) {
      width: 25px;
      height: 25px;
    }
  }

  &__title {
    font-family: 'IBM Plex';
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 35px;
    text-align: center;

    @media (min-width: $screen-sm) {
      font-size: 30px;
      line-height: 38px;
    }

    @media (min-width: $screen-sm) {
      margin-bottom: 52px;
    }
  }

  &__form {

    @media (min-width: $screen-sm) {
      width: 460px;
      margin: 0 auto;
    }
  }

  &__fieldset {
    height: 50px;
    margin-bottom: 28px;
    border: 1px solid $grey-lighter;
    color: $grey;

    @media (min-width: $screen-sm) {
      height: 70px;
    }
  }

  &__legend {
    margin-left: 20px;
    padding: 0 5px;
    color: #7c7c7c;

    @media (min-width: $screen-sm) {
      font-size: 14px;
    }
  }

  &__legend span {
    color: $blue-light;
  }

  &__input {
    font-family: $font-main;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    width: calc(100% - 40px);
    height: 40px;
    margin-left: 20px;
    margin-top: -10px;

    @media (min-width: $screen-sm) {
      height: 60px;
    }
  }

  &__btn {
    color: $white;
    margin: 0 auto;
    padding: 0 35px;
    background-image: linear-gradient(135deg, $blue-light 0%, $blue 100%);

    @media (min-width: $screen-sm) {
      font-size: 16px;
      margin-top: 41px;
    }

    @media (min-width: $screen-lg) {
      border-top: 13px;
    }

    &--disabled {
      background-image: linear-gradient(97deg, #e5e5e5 0%, #a4a4a4 100%);
    }
  }
}
