.provider {

  &__wrap {

    @media (min-width: $screen-sm) {
      position: relative;
      padding-top: 0;
    }
  }

  &__breadcrumbs {

    @media (min-width: $screen-sm) {
      position: absolute;
      top: 15px;
    }
  }

  &__header {
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__logo-cell {

    @media (min-width: $screen-sm) {
      width: 50%;
      padding-top: 64px;
      border-right: 1px solid $grey-light;
      border-bottom: 1px solid $grey-light;
    }

    @media (min-width: $screen-lg) {
      width: 21%;
    }
  }

  &__logo {
    max-width: 86px;
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      max-width: 202px;
    }
  }

  &__title-cell {
    padding-bottom: 20px;
    border-bottom: 1px solid $grey-light;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      width: 50%;
      padding-top: 64px;
    }

    @media (min-width: $screen-lg) {
      width: 27%;
      padding-top: 0;
      border-right: 1px solid $grey-light;
      border-bottom: none;
    }
  }

  &__title {
    font-family: 'IBM Plex';
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;

    @media (min-width: $screen-sm) {
      font-size: 30px;
      margin-top: auto;
    }

    @media (min-width: $screen-lg) {
      font-size: 24px;
    }

    @media (min-width: $screen-xl) {
      font-size: 30px;
    }
  }

  &__title-wrap {
    display: flex;

    @media (min-width: $screen-sm) {
      margin-bottom: auto;
    }
  }

  &__contacts-cell {
    padding: 20px 0;
    border-bottom: 1px solid $grey-light;

    @media (min-width: $screen-sm) {
      width: 40%;
      border-right: 1px solid $grey-light;
      padding-top: 78px;
      padding-bottom: 57px;
    }

    @media (min-width: $screen-lg) {
      width: 22%;
      padding: 64px 0 0;
      border-bottom: none;
    }
  }

  &__contacts-tel {
    display: block;
    line-height: 20px;
    color: $blue;
    vertical-align: middle;

    @media (min-width: $screen-sm) {
      font-size: 16px;
      margin-bottom: 10px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 12px;
    }
  }

  &__contacts-tel-img {
    display: inline-block;
    width: 13px;
    height: 18px;
    background-image: url('./../img/phone.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 8px;
    vertical-align: middle;

    @media (min-width: $screen-sm) {
      width: 18px;
      height: 24px;
    }
  }

  &__contacts-link {
    display: block;
    font-size: 10px;
    line-height: 20px;
    color: $blue;
    margin-left: 12px;

    @media (min-width: $screen-sm) {
      font-size: 14px;
      line-height: 28px;
    }
  }

  &__wrapper {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid $grey-light;

    @media (min-width: $screen-sm) {
      width: 60%;
      padding: 0;
    }

    @media (min-width: $screen-lg) {
      width: 30%;
      border-bottom: none;
    }
  }

  &__gas-cell,
  &__dis-cell {
    width: 50%;
    padding: 20px 30px;

    @media (min-width: $screen-sm) {
      padding: 78px 30px 57px;
    }

    @media (min-width: $screen-lg) {
      padding-top: 64px;
    }
  }

  &__gas .card-mini__advantages-gaz,
  &__dis .card-mini__advantages-diz {
    margin-bottom: 25px;

    @media (min-width: $screen-sm) {
      margin-bottom: 15px;
    }
  }

  &__gas .card__price-wrap,
  &__dis .card__price-wrap {
    margin-bottom: 5px;
  }

  &__dis-cell {

    @media (min-width: $screen-sm) {
      border-left: 1px solid $grey-light;
    }
  }

  &__loc {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    padding-bottom: 18px;
    margin-bottom: 19px;
    border-bottom: 1px solid $grey-light;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__about {
    margin-bottom: 30px;

    @media (min-width: $screen-sm) {
      margin-bottom: 85px;
    }

    @media (min-width: $screen-lg) {
      display: flex;
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      margin-bottom: 50px;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      flex-direction: column;
      width: 25%;
      padding-right: 20px;
    }

    @media (min-width: $screen-xl) {
      padding-right: 30px;
    }
  }

  &__stats-item {
    width: 33%;

    @media (min-width: $screen-lg) {
      display: flex;
      width: 100%;
    }
  }

  &__val {
    font-family: 'IBM Plex';
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 10px;

    @media (min-width: $screen-sm) {
      font-size: 50px;
      line-height: 60px;
    }

    @media (min-width: $screen-lg) {
      width: 23%;
      margin: 0;
      margin-right: 5%;
    }
  }

  &__prop {
    font-size: 10px;
    line-height: 14px;
    color: $grey;
    padding-right: 30px;

    @media (min-width: $screen-sm) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      align-items: center;
      width: 75%;
      padding-right: 0;
    }
  }

  &__about-text {
    line-height: 20px;
    color: $grey;

    @media (min-width: $screen-sm) {
      font-size: 16px;
      line-height: 32px;
    }

    @media (min-width: $screen-lg) {
      width: 70%;
    }
  }

  &__adress {
    display: none;

    @media (min-width: $screen-sm) {
      display: flex;
      border-bottom: 1px solid $grey-light;
      margin-bottom: 35px;
    }

    @media (min-width: $screen-lg) {
      border-bottom: none;
      margin-bottom: 105px;
    }
  }

  &__adress-list {

    @media (min-width: $screen-sm) {
      width: 41.5%;
      padding: 40px 0;
      padding-right: 35px;
    }

    @media (min-width: $screen-lg) {
      width: 25%;
      padding-bottom: 0;
    }

    .delivery__show-more {

      @media (min-width: $screen-lg) {
        margin-bottom: 0;
      }
    }
  }

  &__adress-list .provider__adress-all-btn {

    @media (min-width: $screen-lg) {
      justify-content: flex-start;
    }
  }

  &__adress-location {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__adress-item {
    margin-bottom: 20px;
  }

  &__adress-title {
    font-size: 14px;
    color: $grey-dark;
    margin-bottom: 10px;
  }

  &__adress-text input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }

  &__adress-text {
    margin-bottom: 10px;

    @media (min-width: $screen-lg) {
      font-size: 14px;
    }
  }

  &__adress-text input:checked + label {
    color: $blue;
  }

  &__adress-map {

    @media (min-width: $screen-sm) {
      width: 58.5%;
    }

    @media (min-width: $screen-lg) {
      width: 75%;
      min-height: 340px;
    }
  }

  &__adress-map .map__item {
    height: 100%;
  }

  &__feedback {
    margin-bottom: 100px;

    @media (min-width: $screen-sm) {
      margin-bottom: 15px;
    }

    & .owl-nav {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 135px;
      height: 65px;
      padding: 20px;
      bottom: -80px;
      background-color: $white;

      @media (min-width: $screen-sm) {
        width: 180px;
        height: 110px;
        right: -15px;
        top: -165px;
      }

      @media (min-width: $screen-lg) {
        top: -190px;
      }

      @media (min-width: $screen-xl) {
        top: -174px;
      }
    }

    & .owl-prev,
    & .owl-next {
      font-size: 0;
      width: 11px;
      height: 22px;
      margin: auto 0;
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-width: $screen-sm) {
        width: 15px;
        height: 29px;
      }
    }

    & .owl-prev {
      background-image: url('./../img/arrow-left.svg');
    }

    & .owl-next {
      background-image: url('./../img/arrow_right.svg');
    }
  }

  &__feedback-header {
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      display: flex;
      min-height: 170px;
      margin-bottom: 45px;
    }

    @media (min-width: $screen-lg) {
      min-height: 100px;
    }
  }

  &__feedback-title {
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      width: 50%;
    }

    @media (min-width: $screen-lg) {
      width: 65%;
      margin-right: 35px;
    }
  }

  &__feedback-title h2 {
    font-family: 'IBM Plex';
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;

    @media (min-width: $screen-sm) {
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__feedback-action {
    display: flex;

    @media (min-width: $screen-sm) {
      justify-content: flex-end;
      width: 50%;
    }

    @media (min-width: $screen-lg) {
      width: 35%;
      padding-top: 0;
      justify-content: flex-start;
    }
  }

  &__feedback-wrap {
    position: relative;
  }

  &__slider-counter {
    font-family: 'IBM Plex';
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    display: flex;
    width: 135px;
    height: 65px;
    bottom: -80px;
    z-index: 1;
    pointer-events: none;

    @media (min-width: $screen-sm) {
      font-size: 30px;
      width: 180px;
      height: 110px;
      right: -15px;
      top: -165px;
    }

    @media (min-width: $screen-lg) {
      top: -190px;
    }

    @media (min-width: $screen-xl) {
      top: -174px;
    }
  }

  &__slider-counter span {
    margin: auto;
  }

  &__slider-counter .counter span {
    font-weight: 300;
  }

  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }
}
