@mixin mobileSmaller {
    @media (max-width: $screen-xs) {
        @content;
    }
}

@mixin mobileSmall {
  @media (max-width: $screen-s) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $screen-sm) {
    @content;
  }
}

@mixin mobileLandscape {
  @media (max-width: $screen-sm) and (orientation: landscape) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $screen-md) {
    @content;
  }
}

@mixin desktopSmallHeight {
  @media screen and (min-width: $screen-md) and (max-height: 850px) {
    @content;
  }
}

@mixin desktopSmaller {
  @media screen and (max-width: $screen-lg - 1) {
    @content;
  }
}

@mixin desktopSmall {
  @media screen and (max-width: $screen-lg) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $screen-xl) {
    @content;
  }
}

@mixin desktopBig {
  @media screen and (max-width: $screen-xxl - 1) {
    @content;
  }
}

@mixin desktopBigger {
  @media screen and (max-width: $screen-xxl) {
    @content;
  }
}

@mixin desktopBiggest {
  @media screen and (max-width: $screen-xxxl) {
    @content;
  }
}

@mixin font($fw: 400, $fz: $font-size) {
  font-weight: $fw;
  font-size: $fz;
}

@mixin pseudoBefore($ps: absolute) {

  &:before {
    content: '';
    display: flex;
    position: $ps;
    @content;
  }
}

@mixin hfa($hc: $link-color-hover, $fc: $link-color-hover, $ac: $link-color-hover) {

  &:hover {
    color: $hc;
  }

  &:focus {
    color: $fc;
  }

  &:active {
    color: $ac;
  }
}

@mixin bg-hfa($hc: $blue-light, $fc: $blue-light, $ac: $blue-light) {

  &:hover {
    background: $hc;
  }

  &:focus {
    background: $fc;
  }

  &:active {
    background: $ac;
  }
}
