$black:               #231f20;
$white:               #fff;

$blue:                #3c7cbf;
$blue-light:          #18c3f4;
$blue-lighter:        #edf6ff;

$grey-dark:           #a4a4a4;
$grey:                #636363;
$grey-light:          #f0f0f0;
$grey-lighter:        #e5e5e5;

$primary:             #18c3f4;
$danger:              #f14040;
$warning:             #ffa228;
$success:             #8bbf3c;

$text-color:          $black;
$color-bg-main:       $blue;

$font-main:           'Open Sans', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size:           12px;

$screen-xs:           375px;
$screen-s:            480px;
$screen-sm:           768px;
$screen-md:           1024px;
$screen-lg:           1280px;
$screen-xl:           1440px;
$screen-xxl:          1600px;
$screen-xxxl:         1920px;
