.copy-block {

  &__inner {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (min-width: $screen-lg) {
      align-items: flex-end;
    }
  }

  &__rights {
    font-size: 14px;
    color: $grey;
    margin-bottom: 30px;
    text-align: center;

    @media (min-width: $screen-sm) {
      width: 100%;
    }

    @media (min-width: $screen-lg) {
      width: 50%;
      margin-bottom: 0;
    }
  }

  &__item {
    font-size: 14px;
    color: $grey;
    margin-bottom: 30px;
    text-align: center;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      order: -1;
    }
  }

  &__developer {
    display: block;
    width: fit-content;
    margin: 0 auto;

    @media (min-width: $screen-sm) {
      margin: 0;
    }
  }

  &__descr {
    font-size: 14px;
    color: $grey;
    margin-right: 10px;
  }

  &__link {
    display: inline-block;
    width: 88px;

    @media (min-width: $screen-lg) {
      cursor: pointer;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }
}
